version: '3'
services:
  casino-royale-app:
    container_name: casino-royale-app
    restart: always
    environment:
      DB_HOST: ${DB_HOST}
      NODE_ENV: ${NODE_ENV}
    build: .
    ports:
      - '4000:4000'
    links:
      - db
  db:
    container_name: db
    image: mongo
    ports:
      - '27017:27017'
